<article class="project" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}/{{ project.url }}" title="{{ project.title }}" class="project-teaser">
    {% if project.image.teaser %}
      <img class="cover" src="{{ site.url }}/images/{{ project.image.teaser }}" alt="teaser" itemprop="image"> 
    {% else %}
      <img class="cover" src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
    {% endif %}
  </a>
  
  <div>
    <h2 class="project-title" itemprop="name">
      <a href="{{ site.url }}{{ project.url }}">{{ project.title }}</a>
    </h2>
    
    {% if project.date %}
    <p class="entry-date date published">
      <time datetime="{{ project.date | date: " %Y-%m-%d " }}" itemprop="datePublished">
        {{ project.date | date: "%B %d, %Y" }}
      </time>
    </p>
    {% endif %}

    <p class="project-excerpt" itemprop="description">{{ project.excerpt | strip_html | truncate: 160 }}</p>
  </div>
</article>
<!-- /.tile -->
