/* ==========================================================================
   Projects
   ========================================================================== */

.projects {
  display: flex;
  flex-wrap: wrap;

  .project {
    width: 100%;
    display: flex;

    .cover {
      width: 100%;
      height: 330px;
    }

    .project-teaser {
      margin-right: 32px;
    }
  }
}
